html{
    background-color: rgb(27, 27, 27);
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}
/* sidebar */

body{
    background: rgb(27, 27, 27);
    height: 1000px;
}

header{
    height: 90px;
}

.products{
    display: grid;
}

.sidebar{
    top: 100px;
    padding-top: 10px;
    position: fixed;
    width: 60px;
    height: 24%;
    transition: 0.5s;
    overflow: hidden;
}

.sidebar:hover{
    width: 300px;
}

.sidebar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sidebar ul li{
    height: 60px;
    position: relative;
    width: 0%;
    list-style: none;
    transition: 0.3s;
}

.sidebar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.sidebar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.sidebar ul li a .name{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 65px;
    text-align: start;
    white-space: nowrap;
}

.sidebar ul li:hover{
    padding-left: 50px;
    font-size: 150%;
    background-color: rgb(255, 0, 200);
    width: 130%;
}

.sideimg{
    height: 40px;
    width: 40px;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 90px;
    transition: 0.3s;
}

.logo:hover{
    height: 95px;
}

/* Showcase section */

.showcase{
    display: flex;
    justify-content: center;
    width: 100%;
}

.browsebutton{
    text-align: center;
    padding: 0;
    margin-top: 200px;
    color: white;
    text-decoration: none;
    background-color: rgb(255, 0, 200);
    padding: 25px;
    font-size: 130%;
    transition: 0.3s;
    opacity: 80%;
}

.browsebutton:hover{
    padding: 30px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: rgb(0, 132, 255);
    border-radius: 7px;
    font-size: 150%;
    opacity: 100%;
}

.parallax{
    min-height: 500px;
    background: transparent;
}

.filler{
    margin: 80px;
    padding: 25px;
}

.showcasebottom{
    text-align: center;
    padding: 80px 0 80px 0;
}

.viewall{
    text-decoration: none;
    padding: 20px;
    background-color:  rgb(255, 0, 200);
    color: white;
    transition: 0.2s;
}

.viewall:hover{
    background-color: rgb(0, 132, 255);
    padding: 25px;
    border-radius: 7px;
    font-size: 110%;
}

footer{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: black;
}