*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(27, 27, 27);
    color: white;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(27, 27, 27);
    color: white;
}

header{
    background-color: rgb(27, 27, 27);
    height: 90px;
}

.logocontainer{
    margin-left: 25px;
    height: 100%;
    width: 300px;
    transition: 0.3s;
}

.logo{
    height: 80%;
    width: 80%;
    background-image: url(../images/KitsuneShopLogo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.logo:hover{
    height: 90%;
    width: 90%;
    background-image: url(../images/kitsunelogo.gif);
    transition: 0.5s;
}

.form{
/* height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column; */
padding-top: 30px;
}

/* sidebar */

body{
    background: rgb(27, 27, 27);
}

header{
    height: 90px;
}

.sidebar{
    top: 100px;
    padding-top: 10px;
    position: fixed;
    width: 60px;
    height: 17%;
    transition: 0.5s;
    overflow: hidden;
}

.sidebar:hover{
    width: 300px;
}

.sidebar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sidebar ul li{
    height: 60px;
    position: relative;
    width: 0%;
    list-style: none;
    transition: 0.3s;
}

.sidebar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.sidebar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.sidebar ul li a .name{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 65px;
    text-align: start;
    white-space: nowrap;
}

.sidebar ul li:hover{
    padding-left: 50px;
    font-size: 150%;
    background-color: rgb(255, 0, 200);
    width: 130%;
}

.sideimg{
    height: 40px;
    width: 40px;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
width: 90%;
max-width: 500px;
margin:0 auto;
padding: 20px;
box-shadow: 0px 0px 20px #00ccff88;
background-color: rgb(68, 68, 68);
border-radius: 8px;
margin-bottom: 20px;
}
.form-group{
width: 100%;
margin-top: 20px;
font-size: 20px;
}
.form-group input,
.form-group textarea{
width: 100%;
padding: 10px;
border: 1px solid rgba(206, 206, 206, 0.63);
margin-top: 5px;
transition: 0.5s;
}

.form-group:hover{
    font-size: 150%;
    color: rgb(250, 56, 153);
}

textarea{
resize: vertical;
}
button[type="submit"]{
width: 100%;
border: none;
outline: none;
padding: 20px;
font-size: 20px;
border-radius: 8px;
font-family: 'Roboto', sans-serif;
color: rgb(27, 159, 247);
background-color: rgb(68, 68, 68);
text-align: center;
cursor: pointer;
transition: .3s ease;
margin-top: 10px;
}
button[type="submit"]:hover{
background-color: rgb(250, 56, 153);
color: white;
font-size: 28px;
}
#status{
width: 90%;
max-width: 500px;
text-align: center;
padding: 10px;
border-radius: 8px;
opacity: 0;
pointer-events: none;
}
#status.success{
background-color: rgb(161, 250, 153);
color: green;
animation: status 4s ease  forwards;
}
#status.error{
background-color: rgb(250, 92, 92);
color: rgb(252, 252, 252);
animation: status 4s ease  forwards;
}



@keyframes status{
0%{
    opacity: 1;
    pointer-events: all;
}
90%{
    opacity: 1;
    pointer-events: all;
}
100%{
    opacity: 0;
    pointer-events: none;
}
}

form .form-group{
    transition: ease-in-out 0.4s;
}

.container form button{
    transition: 0.3s;
}

section{
    background-color: rgb(27, 27, 27);
}

@media (max-width: 700px){
section{
        padding-top: 240px;
        height: 500px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .form-group{
        font-size: 100%;
    }

    .form-group:hover{
        font-size: 100%;
        color: rgb(250, 56, 153);
    }

    button[type="submit"]{
        background-color: rgb(250, 56, 153);
        color: white;
        font-size: 28px;
    }

}